@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*, html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f7f1f1;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

h1 {
  margin-top: 0;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255,255,255,.3); 
}

.app {
  margin: 4rem auto;
  padding: 2rem 3rem;
  max-width: 420px;
  background-color: #ff6666;
  color: #f7f1f1;
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-list li {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.1);
}

form {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

form input {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
}

form input[type="submit"] {
  padding:0 1.3rem;
  color: #f7f1f1;
  background: #ff6666;
  text-transform: uppercase;
  border: 1px solid rgba(255,255,255,.3);
  margin-left: 5px;
  cursor: pointer;
  transition: background .2s ease-out;
}

form input[type="submit"]:hover {
  background: rgba(255,255,255,0.1);
} 

form input, 
form input[type="submit"] {
  height: 3rem;
}
